.navContainer{
  height: 60px;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--grey-color);
}

nav{
  display: flex;
  margin: auto 40px;
  justify-content: space-between;
  height: 100%;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 200px;
}

nav ul li{
  margin: auto;
}

nav>*{
  margin: auto 10px;
}

nav .btn{
  display: inline-block;
  width: 100px;
  border-radius: 0;
}

nav a{
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 600;
  font-size: 14px;
}

nav a:hover{
  color: var(--secondary-color);
}


